__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
.envrc

media/
video/

# latex
paper.aux
paper.log
paper.out
paper.pdf
paper.bbl
paper.blg
paper.bcf
paper.run.xml

# Other
project-paper.odt
project-paper.pdf
notes.md
